n8n/error-analyzer.json
{
  "name": "POCAT Error Analyzer",
  "nodes": [
    {
      "id": "e-001",
      "name": "Grafana Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "grafana-alert-error",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "e-002",
      "name": "Parse Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const alert = $input.first().json;\nconst alertStatus = alert.status || 'firing';\nconst now = new Date();\nconst fiveMinAgo = new Date(now.getTime() - 5 * 60 * 1000);\nconst startNano = (fiveMinAgo.getTime() * 1_000_000).toString();\nconst endNano = (now.getTime() * 1_000_000).toString();\nfunction toKst(d) {\n  const k = new Date(d.getTime() + 9 * 3600 * 1000);\n  return `${k.getUTCFullYear()}-${String(k.getUTCMonth()+1).padStart(2,'0')}-${String(k.getUTCDate()).padStart(2,'0')} ${String(k.getUTCHours()).padStart(2,'0')}:${String(k.getUTCMinutes()).padStart(2,'0')}`;\n}\nconst timeRangeKst = `${toKst(fiveMinAgo)} ~ ${toKst(now)} (KST)`;\nreturn [{ json: { alertStatus, startNano, endNano, timeRangeKst } }];"
      }
    },
    {
      "id": "e-003",
      "name": "Is Firing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.alertStatus }}", "rightValue": "firing", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      }
    },
    {
      "id": "e-004",
      "name": "Query Loki",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "parameters": {
        "url": "http://loki:3100/loki/api/v1/query_range",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "{service=\"backend\", level=\"ERROR\"}" },
            { "name": "start", "value": "={{ $('Parse Alert').first().json.startNano }}" },
            { "name": "end", "value": "={{ $('Parse Alert').first().json.endNano }}" },
            { "name": "limit", "value": "50" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e-005",
      "name": "Has Logs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 200],
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose", "version": 2 },
          "conditions": [{ "id": "c2", "leftValue": "={{ ($json.data?.result || []).reduce((a,s) => a + (s.values?.length || 0), 0) }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      }
    },
    {
      "id": "e-006",
      "name": "Group by Tag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 100],
      "parameters": {
        "jsCode": "const lokiResponse = $input.first().json;\nconst alertInfo = $('Parse Alert').first().json;\n\nconst tagChannelMap = {\n  RAG_REINDEX:        '#ai-alert',\n  EMBEDDING_FAIL:     '#ai-alert',\n  AUCTION_ANOMALY:    '#business-insight',\n  PAYMENT_ESCALATION: '#business-insight',\n  CACHE:              '#backend',\n  RATE_LIMIT:         '#backend',\n  ES_INDEXING:        '#backend',\n  ES_MIGRATION:       '#backend',\n  CARD_SYNC:          '#backend',\n  FAKFA_FAIL:         '#backend',\n  SLOW_QUERY:         '#backend',\n  DATA_SEEDING:       '#backend',\n  DEFAULT:            '#error-alert',\n};\n\nconst fmt = '\\n\\n출력 형식 — Slack mrkdwn 규칙:\\n- 굵게는 *텍스트* (별표 1개, **텍스트** 금지)\\n- 인라인 코드는 `코드`\\n- 헤더(#) 사용 금지, 가로 구분선(---) 사용 금지\\n- 리스트는 • 으로 시작 (-, * 금지)\\n- 한국어로 작성, :mag: 외 이모지 자제, 간결하게';\n\nconst sysPrompts = {\n  RAG_REINDEX:        '당신은 POCAT AI RAG 재색인 장애 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 장애 요약* • 발생 시각/실패 유형/영향 범위\\n:mag: *2. 원인 분석* • 벡터DB장애/락 경합/데이터이상 분류\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  EMBEDDING_FAIL:     '당신은 POCAT AI 임베딩 실패 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 장애 요약* • 발생 시각/실패 유형/영향 범위\\n:mag: *2. 원인 분석* • 벡터DB장애/API한도초과/데이터이상/인프라문제 분류\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  AUCTION_ANOMALY:    '당신은 POCAT 경매 이상 거래 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 거래 요약* • 감지 시각/이상 유형/관련 경매·카드 ID\\n:mag: *2. 이상 원인 분석* • 가격조작/봇의심/희귀카드정상거래/일시적시장변동 분류\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  PAYMENT_ESCALATION: '당신은 POCAT 결제 승격 장애 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 장애 요약* • 발생 시각/장애 유형/영향 사용자\\n:mag: *2. 원인 분석* • 승격 처리 실패/알림 발송 실패/타임아웃 분류\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  CACHE:              '당신은 POCAT 캐시 장애 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 장애 요약* • 발생 시각/캐시 유형/영향 범위\\n:mag: *2. 원인 분석* • Redis 장애/메모리 부족/네트워크 분류\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  RATE_LIMIT:         '당신은 POCAT Rate Limit 장애 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 장애 요약* • 발생 시각/우회된 Rate Limit 범위\\n:mag: *2. 원인 분석* • Redis 장애로 보호장치 비활성 상태 확인\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  ES_INDEXING:        '당신은 POCAT Elasticsearch 색인 장애 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 장애 요약* • 발생 시각/색인 유형/영향 데이터\\n:mag: *2. 원인 분석* • ES 클러스터 장애/네트워크/매핑 오류 분류\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  CARD_SYNC:          '당신은 POCAT 카드 동기화 장애 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 장애 요약* • 발생 시각/실패 유형/영향 세트·카드\\n:mag: *2. 원인 분석* • 외부 API 장애/중복 데이터/네트워크 분류\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  FAKFA_FAIL:         '당신은 POCAT 카프카 장애 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 장애 요약* • 발생 시각/장애 유형/영향 토픽·컨슈머\\n:mag: *2. 원인 분석* • 브로커장애/네트워크단절/컨슈머지연/역직렬화오류 분류\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  SLOW_QUERY:         '당신은 POCAT DB 슬로우 쿼리 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 쿼리 요약* • 발생 시각/쿼리 유형/영향 테이블\\n:mag: *2. 원인 분석* • 인덱스 미적용/풀스캔/락 경합 분류\\n:mag: *3. 최적화 방안* • *즉시* / *단기(인덱스)* / *장기(구조개선)* 각 한 문장' + fmt,\n  DATA_SEEDING:       '당신은 POCAT 데이터 시딩 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 요약* • 시딩 시각/대상 데이터/처리 건수\\n:mag: *2. 상태 분석* • 성공/실패 여부 및 원인\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n  DEFAULT:            '당신은 POCAT Spring Boot 애플리케이션 장애 분석 전문가입니다. 로그를 분석하여 3섹션(:mag: 헤더)으로 정리하세요.\\n:mag: *1. 에러 요약* • 발생 시각/에러 유형/발생 위치\\n:mag: *2. 원인 분석* • 근본 원인 추정\\n:mag: *3. 조치 방안* • *즉시* / *단기* / *장기* 각 한 문장' + fmt,\n};\n\nlet allLines = [];\nif (lokiResponse.data && lokiResponse.data.result) {\n  for (const stream of lokiResponse.data.result) {\n    if (stream.values) {\n      for (const [, line] of stream.values) allLines.push(line);\n    }\n  }\n}\n\nconst tagGroups = {};\nfor (const line of allLines) {\n  const match = line.match(/\\[([A-Z_]+)\\]/);\n  const tag = (match && tagChannelMap[match[1]] !== undefined) ? match[1] : 'DEFAULT';\n  if (!tagGroups[tag]) tagGroups[tag] = [];\n  tagGroups[tag].push(line);\n}\n\nconst maxChars = 5000;\nreturn Object.entries(tagGroups).map(([tag, lines]) => {\n  let logs = lines.join('\\n---\\n');\n  if (logs.length > maxChars) logs = logs.substring(0, maxChars) + '\\n... (truncated)';\n  return { json: {\n    tag,\n    logCount: lines.length,\n    channelName: tagChannelMap[tag] || tagChannelMap.DEFAULT,\n    systemPrompt: sysPrompts[tag] || sysPrompts.DEFAULT,\n    userPrompt: `[${tag}] 감지\\n[Time Range] ${alertInfo.timeRangeKst}\\n[Log Count] ${lines.length}건\\n\\n--- 로그 ---\\n${logs}`,\n    alertInfo,\n  }};\n});"
      }
    },
    {
      "id": "e-007",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1680, 100],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      }
    },
    {
      "id": "e-008",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 100],
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json;\nconst original = $('Group by Tag').item.json;\nlet analysis = aiOutput.output || aiOutput.text || '분석 실패';\nanalysis = analysis\n  .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n  .replace(/^\\s*#+\\s+/gm, '')\n  .replace(/^\\s*-{3,}\\s*$/gm, '')\n  .replace(/\\n{3,}/g, '\\n\\n');\nconst text = `:rotating_light: *[${original.tag}] ERROR 감지*\\n\\n*Time:* ${original.alertInfo.timeRangeKst}\\n*Log Count:* ${original.logCount}건\\n\\n${analysis}`;\nreturn [{ json: { text, channelName: original.channelName } }];"
      }
    },
    {
      "id": "e-009",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2160, 100],
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.channelName }}"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      }
    },
    {
      "id": "e-010",
      "name": "Skip (Resolved)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 420],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'skipped', reason: 'not firing' }) }}", "options": {} }
    },
    {
      "id": "e-011",
      "name": "Skip (No Logs)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 320],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'skipped', reason: 'no logs found' }) }}", "options": {} }
    }
  ],
  "connections": {
    "Grafana Webhook": { "main": [[{ "node": "Parse Alert", "type": "main", "index": 0 }]] },
    "Parse Alert": { "main": [[{ "node": "Is Firing?", "type": "main", "index": 0 }]] },
    "Is Firing?": { "main": [
      [{ "node": "Query Loki", "type": "main", "index": 0 }],
      [{ "node": "Skip (Resolved)", "type": "main", "index": 0 }]
    ]},
    "Query Loki": { "main": [[{ "node": "Has Logs?", "type": "main", "index": 0 }]] },
    "Has Logs?": { "main": [
      [{ "node": "Group by Tag", "type": "main", "index": 0 }],
      [{ "node": "Skip (No Logs)", "type": "main", "index": 0 }]
    ]},
    "Group by Tag": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Format Slack Message", "type": "main", "index": 0 }]] },
    "Format Slack Message": { "main": [[{ "node": "Send to Slack", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "versionId": "pocat-error-v3",
  "meta": { "instanceId": "pocat-monitoring" },
  "id": "pocat-error-analyzer",
  "tags": []
}
